body{
    background: rgb(19,120,109);
    background: linear-gradient(90deg,rgba(19,120,109,1) 8%,rgba(121,223,217,1) 45%,rgba(0,212,255,1) 97%);
    font-size:50px;
    color:white;
}

.container{
    display:flex;
    height:90vh;
    align-items: center;
    justify-content: center;
    
}

#wrapper{
    border: 5px solid white;
    padding:20px;
    background-color: rgb(42, 41, 41);
}

#ampm{
    font-size:30px;
}